.sub-links {
overflow: hidden;
}

	.sub-links.bottom {
	margin-top: 50px;
	}

	.sub-link {
	float: left;
	width: 220px;
	margin: 0 0 20px 30px;
	}

	.sub-link.first {
	margin-left: 0;
	clear: both;
	}

.sub-links div h3 {
background: #d31145 url(images/titlebg.png) no-repeat left top;
line-height: 30px;
color: #fff;
padding: 0 0 0 10px;
font-weight: normal;
text-transform: uppercase;
}

	.sub-links a.more  {
	text-transform: uppercase;
	}
